<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
<!-- header 추가 -->
<div class="container">
	<div th:insert="common/header.html" id="header"></div>
	<div class="wrapper">

		<article class="server-check">

			<div class="server-head-box">
				<div class="time-box">
					체크한 시간 : <span class="time"></span>
				</div>

			</div>

			<div class="server-list-box">

				<div class="loading">
					<img th:src="@{/img/img_loading.gif}"/>
				</div>

			</div>
		</article>

	</div>
</div>




<!-- footer 추가 -->
<div th:insert="common/footer.html" id="footer"></div>


<script>
	if (document.domain.toString().indexOf("localhost") != -1) {
		document.domain="localhost";
	}



	function siteCheck(){
		$.ajax({
			url : "/serverCheck",
			dataType: "JSON",
			processData:false,
			contentType: false,
			success:function (result){
				$('.loading').hide();
				makeStr(result);
				timeSet();


			},
			error : function (result){

				console.log("에러")
				console.log(result);

			}
		})
	}

	function timeSet(){
		var today = new Date();
		var hours = today.getHours(); // 시
		var minutes = today.getMinutes();  // 분
		var seconds = today.getSeconds();  // 초

		var year = today.getFullYear(); // 년도
		var month = today.getMonth() + 1;  // 월
		var date = today.getDate();  // 날짜


		$('.time').html(year + "/" + month + "/" + date + " " + hours + ':' + minutes + ':' + seconds)
	}

	function makeStr(result){

		var _str;
		$('.server-list-box').html("");

		$.each(result,function (index, item){

			_str = "";
			_str += '<div class="item-box">';
			_str += '	<div class="subject">' + item.serverName + '</div>';
			_str += '	<div class="con">';
			_str += '		<div class="state-box ' + (item.serverState == "정상" ? "type-ok" : "type-error") +'"></div>';
			_str += '	</div>';
			_str += '</div>';

			$('.server-list-box').append(_str);
		});

	}


	siteCheck(); // 최초 1회 실행
	setInterval(function() {
		siteCheck();

	}, (60000 * 5));    // 5분마다

</script>


</body>
</html>